.wrapper {
    position: relative;
    height: 800px;
}

.background_image {
    background-image: url('../assets/background.png');
    background-position:center bottom;  
    background-repeat:  no-repeat;                 /* 画像のサイズを指定    */
    background-size: cover;
    width: 100%;                              /* 横幅のサイズを指定    */
    height: 100%;                    /* 縦幅のサイズを指定    */
    opacity: 0.9;
}